.section-4-bannerwebp-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.section-4-bannerwebp-wrapper {
  height: 667px;
  width: 555px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 75px 0 0;
  box-sizing: border-box;
  min-width: 555px;
  max-width: 100%;
}
.how {
  color: #000;
}
.how-yohomobilecom {
  margin: 0;
}
.benefits-you {
  margin: 0;
  color: #000;
}
.how-yohomobilecom-benefits-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.svg-icon2 {
  width: 56px;
  height: 56px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.svg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.heading-311 {
  position: relative;
  font-weight: 700;
}
.any-time-get,
.purchase-esims-for {
  display: block;
}
.purchase-esims-for-container {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  color: #404963;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading-3-instant-access-parent,
.item6,
.list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-3-instant-access-parent {
  flex-direction: column;
  gap: 8.5px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.item6,
.list1 {
  align-self: stretch;
}
.item6 {
  flex-direction: row;
  padding: 29px 0 0.5px;
  box-sizing: border-box;
  row-gap: 20px;
}
.list1 {
  flex-direction: column;
  gap: 24px;
}
.link-learn {
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 26px;
  font-family: Inter;
  color: #ff9000;
}
.list-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 40px;
  font-size: 24px;
  color: #000;
}
.frame-parent29,
.frame-wrapper11,
.how-yohomobilecom-benefits-yo-parent,
.list-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.how-yohomobilecom-benefits-yo-parent {
  flex: 1;
  flex-direction: column;
  gap: 49px;
  min-width: 380px;
}
.frame-parent29,
.frame-wrapper11 {
  flex-direction: row;
}
.frame-parent29 {
  flex: 1;
  gap: 60px;
}
.frame-wrapper11 {
  align-self: stretch;
  padding: 0 15px;
  box-sizing: border-box;
}
.best-esim-experience,
.choose-yoho-mobile {
  margin: 0;
}
.choose-yoho-mobile-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
}
.item-1,
.item-2 {
  position: relative;
  line-height: 24px;
}
.item-2 {
  margin: 0;
}
.item-3 {
  display: inline-block;
  max-width: 100%;
}
.item-3,
.item-4 {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.item-1-enjoy-fast-data-spee-parent {
  gap: 5px;
  font-size: 16px;
  color: #383838;
  font-family: Inter;
}
.choose-yoho-mobile-for-the-bes-parent,
.item-1-enjoy-fast-data-spee-parent,
.section-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.choose-yoho-mobile-for-the-bes-parent {
  align-self: stretch;
  gap: 16.5px;
}
.section-inner {
  flex: 1;
  padding: 104.5px 0 0;
  box-sizing: border-box;
  min-width: 450px;
}
.section-5-bannerwebp-icon {
  width: 461.2px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  max-width: 100%;
}
.section2 {
  align-self: stretch;
  border-radius: 16px;
  background-color: #f5f5f8;
  flex-direction: row;
  justify-content: flex-start;
  padding: 30px 15px 30px 40px;
  box-sizing: border-box;
  gap: 21.7px;
  font-family: Montserrat;
}
.frame-parent28,
.landngpage-inner1,
.section2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent28 {
  width: 1230px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;
}
.landngpage-inner1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 120px;
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: #ff9000;
  font-family: "Times New Roman";
}
@media screen and (max-width: 1225px) {
  .frame-parent29 {
    gap: 30px;
  }
  .landngpage-inner1 {
    padding-bottom: 78px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .section-4-bannerwebp-icon {
    align-self: stretch;
    width: auto;
  }
  .section-4-bannerwebp-wrapper {
    flex: 1;
  }
  .frame-parent29 {
    flex-wrap: wrap;
  }
  .section-5-bannerwebp-icon {
    flex: 1;
  }
  .section2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .section-4-bannerwebp-wrapper {
    padding-top: 49px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .how-yohomobilecom-benefits-container {
    font-size: 38px;
  }
  .item6 {
    flex-wrap: wrap;
  }
  .list-parent {
    gap: 20px;
  }
  .how-yohomobilecom-benefits-yo-parent {
    gap: 24px;
    min-width: 100%;
  }
  .choose-yoho-mobile-container {
    font-size: 38px;
    line-height: 48px;
  }
  .section-inner {
    min-width: 100%;
  }
  .section2 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .frame-parent28 {
    gap: 60px;
  }
  .landngpage-inner1 {
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .how-yohomobilecom-benefits-container {
    font-size: 29px;
  }
  .heading-311 {
    font-size: 19px;
  }
  .choose-yoho-mobile-container {
    font-size: 29px;
    line-height: 36px;
  }
  .section-inner {
    padding-top: 68px;
    box-sizing: border-box;
  }
  .frame-parent28 {
    gap: 30px;
  }
}
