.link-logo-bpng1,
.overlay1 {
  align-self: stretch;
  position: relative;
}
.overlay1 {
  width: 1920px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  max-width: 100%;
}
.link-logo-bpng1 {
  width: 200px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 38px;
}
.item-link4 {
  text-decoration: none;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 40px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.5px 0 0;
}
.buy-esim1 {
  text-decoration: none;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 67px;
}
.image-icon23 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.nav-icons {
  flex-direction: column;
  padding: 2.5px 0 0;
}
.buy-esim-parent,
.nav-icons,
.nav-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buy-esim-parent {
  flex-direction: row;
  gap: 6.3px;
}
.nav-links1 {
  flex-direction: column;
  padding: 6.5px 0 0;
  font-size: 14.8px;
}
.get-started1 {
  text-decoration: none;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
}
.image-icon24 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.image-wrapper15 {
  flex-direction: column;
  padding: 2.5px 0 0;
}
.get-started-parent,
.image-wrapper15,
.nav-links2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.get-started-parent {
  flex-direction: row;
  gap: 6.4px;
}
.nav-links2 {
  flex-direction: column;
  padding: 6.5px 0 0;
  font-size: 13px;
}
.parent2 {
  align-self: stretch;
  height: 19px;
  font-family: Inter;
  font-weight: 500;
  font-size: 13.9px;
  color: #000;
}
.nav-links3 {
  width: 82.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.5px 0 0;
  box-sizing: border-box;
}
.item-link5 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: inherit;
}
.nav-links4 {
  width: 148.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.5px 0 0;
  box-sizing: border-box;
  font-size: 16px;
}
.item-link-cartpng1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.header-header1,
.header-right,
.horizontalborder2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.header-right {
  width: 632.7px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.header-header1,
.horizontalborder2 {
  flex-direction: row;
}
.horizontalborder2 {
  flex: 1;
  border-bottom: 1px solid #f5f5f8;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 13.5px 390px 12px;
  gap: 20px;
  z-index: 1;
}
.header-header1 {
  align-self: stretch;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: flex-start;
}
.card-184png-icon,
.yohomobile-always-provide {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.yohomobile-always-provide {
  width: 509px;
  top: 333px;
  left: -272.8px;
  font-size: 14px;
  line-height: 14px;
  color: #54595f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-184png-icon {
  height: 535px;
  width: 535px;
  bottom: -203px;
  left: -286px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}
.days-unlimited-,
.unlimited-30,
.unlimited-5 {
  display: block;
}
.unlimited-5-container {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.container6 {
  margin: 0 !important;
  position: absolute;
  right: -286px;
  bottom: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 2px 0.5px 0;
}
.days {
  margin-top: -3.5px;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container7 {
  height: 17px;
  margin: 0 !important;
  position: absolute;
  right: -46.9px;
  bottom: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.t-mobile-lte {
  margin-top: -3.5px;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container8 {
  height: 17px;
  margin: 0 !important;
  position: absolute;
  right: -154.6px;
  bottom: 82px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.yes-devices-connected {
  width: 374px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 1134%;
}
.yes-devices-connected-to-the-wrapper {
  margin-top: -24px;
  width: 343px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 155px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.access-to-the {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.paragraph,
.svg-icon3 {
  position: absolute;
  margin: 0 !important;
}
.paragraph {
  height: 41px;
  width: 524.3px;
  right: -275.3px;
  bottom: -10px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20.5px 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.svg-icon3 {
  height: 19px;
  width: 76px;
  right: -18.8px;
  bottom: 302.5px;
  object-fit: contain;
}
.real-unlimited-esim,
.united-states-usa {
  margin: 0;
}
.united-states-usa-container {
  margin: 0 !important;
  position: absolute;
  top: 230px;
  right: -272.4px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  font-family: Roboto;
  color: #373547;
}
.button {
  margin: 0;
  width: 13.1px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.63px;
  line-height: 21px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 0 1px 0#fff;
  min-width: 13.1px;
}
.alert-close {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1px;
}
.heading-412 {
  text-decoration: none;
  width: 58.3px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  font-family: Montserrat;
  color: #000;
  text-align: left;
  display: flex;
  align-items: center;
}
.paragraphhorizontalborder8 {
  align-self: stretch;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 14px 34px 15px;
}
.activated-within-one-hour-it,
.based-on-eastern-standard-time,
.if-you-need-to-use-the-us-esim,
.not-be-activated-immediately-u,
.orders-placed-before-1pm-on-th,
.receive-a-qr-code-instead-th,
.to-specify-the-activation-date,
.to-your-phone-before-1pm-on-th,
.when-purchasing-and-activating,
.which-is-a-special-product-of,
.will-be-activated-before-1pm {
  display: block;
}
.att-us-esim {
  color: #337ab7;
}
.span6 {
  color: #373547;
}
.purchase-our-att-us-esim {
  display: block;
}
.when-purchasing-and-container {
  margin: 0;
  height: 480px;
  position: relative;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.paragraphhorizontalborder-parent,
.when-purchasing-and-activating-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.when-purchasing-and-activating-wrapper {
  flex-direction: row;
  padding: 0 16px 0 15px;
  text-align: left;
  font-size: 20px;
  color: #373547;
}
.paragraphhorizontalborder-parent {
  flex-direction: column;
  gap: 15px;
}
.close-accept {
  flex: 1;
  position: relative;
  letter-spacing: 0.42px;
  line-height: 20px;
  display: inline-block;
  min-width: 107.3px;
}
.button1,
.horizontalborder3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  width: 132.9px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 5px 11px 5px 13px;
  white-space: nowrap;
}
.horizontalborder3 {
  align-self: stretch;
  border-top: 1px solid #e5e5e5;
  justify-content: flex-end;
  padding: 19px 15px 16px;
  font-size: 14px;
  color: #333;
}
.backgroundbordershadow,
.banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.backgroundbordershadow {
  flex: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  flex-direction: column;
  gap: 35px;
  flex-shrink: 0;
  z-index: 3;
  text-align: center;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.2);
  font-family: "DM Sans";
}
.banner {
  width: 598px;
  margin: 0 !important;
  position: absolute;
  top: 31px;
  left: 661px;
  flex-direction: row;
  font-size: 16px;
  font-family: "Helvetica Neue";
}
.link-unlock4 {
  width: 596.5px;
  position: relative;
  text-decoration: underline;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.backgroundhorizontalborder3,
.header-header-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.backgroundhorizontalborder3 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px 9px;
  z-index: 4;
  text-align: center;
  font-size: 14px;
  color: #f16521;
  font-family: "Helvetica Neue";
}
.header-header-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 41px 0 614px;
  position: relative;
  min-height: 720px;
  text-align: left;
  font-size: 13.9px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1650px) {
  .horizontalborder2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .navigation {
    flex-wrap: wrap;
  }
  .horizontalborder2 {
    padding-left: 195px;
    padding-right: 195px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .horizontalborder2 {
    padding-left: 97px;
    padding-right: 97px;
    box-sizing: border-box;
  }
  .united-states-usa-container {
    font-size: 40px;
    line-height: 48px;
  }
  .header-header-container {
    padding-top: 27px;
    padding-bottom: 399px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .united-states-usa-container {
    font-size: 30px;
    line-height: 36px;
  }
  .button {
    font-size: 17px;
    line-height: 17px;
  }
  .when-purchasing-and-container {
    font-size: 16px;
    line-height: 32px;
  }
}
