.heading-417 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 96px;
}
.strong-emphasis2 {
  position: relative;
  line-height: 24px;
  font-style: italic;
  font-weight: 700;
}
.heading-4-contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.8px;
}
.wd-cursor-darksvg-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.wd-cursor-darksvg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.2px;
}
.robinson-road-singapore3 {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent85 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.wd-phone-darksvg-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.wd-phone-darksvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.7px;
}
.span8 {
  color: #ff9000;
}
.mobile-1-838-container3 {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent86 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.wd-envelope-darksvg-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.wd-envelope-darksvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.7px;
}
.supportyohomobilecom3 {
  color: #ff9000;
}
.email-supportyohomobilecom3 {
  position: relative;
  line-height: 24px;
}
.frame-parent84,
.frame-parent87 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent84 {
  flex-direction: column;
  align-items: flex-start;
  gap: 9.6px;
}
.heading-418 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 96px;
}
.about-us5,
.blog4,
.contact-us3,
.partnership4 {
  display: block;
}
.link-about-container4 {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #222;
}
.heading-4-yoho-mobile-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 0;
  gap: 7.3px;
}
.heading-419 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.cancellation-refund4,
.delivery-policy4,
.payment-guideline4,
.privacy-policy4,
.terms-of-use4 {
  display: block;
}
.link-terms-container4 {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #222;
}
.heading-4-legal-information-parent1 {
  width: 202.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 7.3px;
}
.heading-420 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 90px;
  white-space: nowrap;
}
.esim-compatible-devices4,
.faqs4,
.how-to-set5 {
  display: block;
}
.link-esim-container4 {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #222;
}
.heading-4-get-started-parent2,
.section7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.3px;
}
.section7 {
  align-self: stretch;
  background-color: #f5f5f8;
  flex-direction: row;
  justify-content: space-between;
  padding: 39.8px 479px 50.1px 375px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  gap: 20px;
}
.yoho-mobile-all4 {
  position: relative;
  line-height: 38px;
}
.background21,
.section-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background21 {
  background-color: #f5f5f8;
  flex-direction: row;
  padding: 15px 360px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
  margin-top: -0.1px;
  font-size: 14.4px;
}
.section-parent {
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1700px) {
  .section7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .background21,
  .section7 {
    padding-left: 187px;
    padding-right: 239px;
    box-sizing: border-box;
  }
  .background21 {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media screen and (max-width: 900px) {
  .background21,
  .section7 {
    padding-left: 93px;
    padding-right: 119px;
    box-sizing: border-box;
  }
  .background21 {
    padding-left: 90px;
    padding-right: 90px;
  }
}
