.link-icon7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}
.container18 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.container-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18.6px 0 0;
}
.global-96-esim,
.yoho-special {
  margin: 0;
}
.global-96-esim-container {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div37 {
  width: 48.9px;
  line-height: 20.8px;
  display: flex;
  align-items: center;
  min-width: 48.9px;
  white-space: nowrap;
}
.b8,
.div37,
.div38 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.b8 {
  width: 16.4px;
  font-size: 14.4px;
  line-height: 18.72px;
  display: flex;
  align-items: center;
}
.div38 {
  margin-left: -0.3999999999996362px;
  line-height: 20.8px;
  display: inline-block;
  min-width: 49.3px;
  white-space: nowrap;
}
.parent5,
.wrapper6 {
  display: flex;
  justify-content: flex-start;
}
.wrapper6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.parent5 {
  width: 114.2px;
  flex-direction: row;
  align-items: flex-end;
  color: #ff9000;
}
.global-96-esim-yoho-special-parent,
.item47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17.6px;
}
.item47 {
  width: 285px;
  box-shadow: 0 3px 6px -5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #fff;
  border: 2px solid #f5f5f8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 23px 20px 35px;
  gap: 34.2px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
